# -FrontPage-

Options None

<Limit GET POST>
order deny,allow
deny from all
allow from all
require group administrators
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthType Basic
AuthName victekmachinery.com
AuthUserFile /usr/home/victek/www/htdocs/_vti_pvt/service.pwd
AuthGroupFile /usr/home/victek/www/htdocs/_vti_pvt/service.grp
